/venv
__pycache__
/.idea
*.log
*.tmp
*.pyc
/db.sqlite3
/dist
/django_jbank.egg-info
/uploads
/certs
/*.gz
/tmp*.xml
/jbank/bin/encrypt3
/jbank/bin/sign3
/jbank/bin/decrypt3
/jbank/bin/verify3
/logs
/downloads
/uploads
/local.*

