pip
setuptools
pytype
prospector
bandit
dependency-check
coverage
codecov
mypy
djangorestframework-stubs
django-stubs
twine
django-extensions
python-dotenv
pre-commit
black
types-pytz
types-requests
types-python-dateutil
psycopg2==2.9.3 --no-binary 2.9.3

